In [7]:
'''write a program to check the largest among the three numbers'''

a=int(input("Enter the first side of triangle: "))
b=int(input(   "Enter the second side of triangle: "))  
c=int(input(    "Enter the third side of triangle: "))
if (a>b and a>c):
    print("a is greater")
elif (b>a and b>c):
    print("b is greater")
elif (c>a and c>b):
    print("c is greater")
else:
    print("all are equal numbers")

a is greater

In [13]:
name=input()
password=input()
if (name=="narendra"):
    if (password=="12345"):
        print("login success")
    else:
        print("invalid password")
else:
    print("invalid name")

invalid password

In [15]:
''' write a program to check the given year is leap year or not'''

year=int(input())

if((year%4==0 and year%100!=0) or (year%400==0)):
    print("leap year")
else:
    print("not a leap year")

not a leap year

In [20]:
''' write a program  to print the sum of the  cubes of the numbers from M and N '''

m=int(input())
n=int(input())
sum=0
for i in range(m,n+1):
    sum+=(i**3)
print(sum)

216

In [22]:
''' Write a program that reads a distance D in km and calculates the total Score. 
For the first 50 km (0-50km), the score for each km, is 3 
For the next 50 km (51-100km), the score for each km, is 5 
For the next 100 km (101-200km), the score for each km, is 6 
For the first 50 km (201-250km), the score for each km, is 8 
For the above 250 km, the score for each km, is 10 
Apart from the above scores, there is a bonus score of 100'''

' Write a program that reads a distance D in km and calculates the total Score. \nFor the first 50 km (0-50km), the score for each km, is 3 \nFor the next 50 km (51-100km), the score for each km, is 5 \nFor the next 100 km (101-200km), the score for each km, is 6 \nFor the first 50 km (201-250km), the score for each km, is 8 \nFor the above 250 km, the score for each km, is 10 \nApart from the above scores, there is a bonus score of 100'

In [24]:
#armstron number

n=int(input())
a=str(n)
sum=0
for i in range(len(a)):
    sum+=int(a[i])**len(a)
if(sum==n):
    print("armstrong number")
else:
    print("not a armstrong number")

armstrong number

In [25]:
a=int(input())
two_thousands=(a//2000)
five_hundreds=((a%2000)//500)
two_hundreds=(((a%2000)%500)//200)
fifties=((((a%2000)%500)%200)//50)
twenties=(((((a%2000)%500)%200)%50)//20)
fives=((((((a%2000)%500)%200)%50)%20)//5)
twos=(((((((a%2000)%500)%200)%50)%20)%5)//2)
ones=((((((((a%2000)%500)%200)%50)%20)%5)%2)//1)

print("2000:"+str(two_thousands),"500:"+str(five_hundreds),"200:"+str(two_hundreds),"50"+str(fifties),"20"+str(twenties),"5"+str(fives),"2"+str(twos),"1"+str(ones))

2000:32 500:3 200:0 503 200 51 20 11

In [12]:
def sum_of_the_digits():
    a = int(input())
    b = int(input())
    total = a + b
    print(total)

sum_of_the_digits()

7